
.NAV{
    max-width: 1900px; 
    margin: 0 auto; 
  }
  .NAVV{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .rahul{
    font-family: 'Nova Square', sans-serif !important;
  }
  
.web{
  font-size: 150px !important;
  font-family: 'Lato', sans-serif !important;
}
#span{
  color:#1a53ff !important;
  font-family: 'Nova Square', sans-serif !important;
}
.talk{
  font-size: 150px !important;
}
@media (min-width: 1000px) and (max-width: 1300px){
  .web{
    font-size: 100px !important;
  }
  .talk{
    font-size: 100px !important;
  }
}
@media (min-width: 700px) and (max-width: 999px){
  .web{
    font-size: 80px !important;
  }
  .talk{
    font-size: 80px !important;
  }
}
@media (min-width: 341px) and (max-width: 699px){
  .web{
    font-size: 40px !important;
  }
  .talk{
    font-size: 40px !important;
  }
}
@media (min-width: 100px) and (max-width: 340px){
  .web{
    font-size: 40px !important;
  }
  .talk{
    font-size: 30px !important;
  }
}